# PostgreSQL Configuration
POSTGRES_USER=agachadeats
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=agachadeats_db

# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=adminpassword
